<!doctype html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>荣光影视</title>
    <!-- Template CSS -->
    <!--
        <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    -->
    <link rel="stylesheet" th:href="@{/static/css/style-starter.css}">
    <script th:src="@{/static/layui.js}"></script>
    <script th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}">
</head>

<body>

<!-- header -->
<header id="site-header" class="w3l-header fixed-top">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
        <div class="container">
            <h1><a class="navbar-brand" href="index.html">
                荣光影视 </a></h1>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/user/toIndex}">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">联系我们</a>
                    </li>
                </ul>

                <!--/search-right-->
                <!--/search-right-->
                <div class="search-right">
                    <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">搜索<span
                            class="fa fa-search ml-3" aria-hidden="true"></span></a>
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form th:action="@{/video/search}" method="post" class="search-box">
                                <input type="search" placeholder="Search your Keyword" name="videoTitle"
                                       required="required" autofocus="">
                                <button type="submit" class="btn"><span class="fa fa-search"
                                                                        aria-hidden="true"></span></button>
                            </form>
                            <div class="browse-items">
                                <h3 class="hny-title two mt-md-5 mt-4">荣光影视搜索</h3>
                                <ul class="search-items">
                                    <li><a href="#">影视</a></li>
                                    <li><a href="#">新闻</a></li>
                                    <li><a href="#">生活</a></li>
                                    <li><a href="#">美食</a></li>
                                    <li><a href="#">音乐</a></li>
                                    <li><a href="#">电视剧</a></li>
                                    <li><a href="#">舞蹈</a></li>
                                    <li><a href="#">动漫</a></li>
                                    <li><a href="#">娱乐</a></li>
                                    <li><a href="#">科技数码</a></li>
                                    <li><a href="#">体育</a></li>
                                    <li><a href="#">美妆</a></li>
                                </ul>
                            </div>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                    <!-- /search popup -->
                    <!--/search-right-->
                </div>


            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
            <!--<button type="button" class="btn btn-primary btn-lg active">登录</button>-->
            <div th:unless="${session.user}">
                <a th:href="@{/user/toLogin}" class="btn btn-primary btn-lg"
                   style="height: 38px;font-size: 14px;">登录</a>
            </div>
            <div th:if="${session.user}">
                <button class="layui-btn layui-btn-primary" id="demo4">
                    <span th:text="${session.user.userName}"></span>
                    <i class="layui-icon layui-icon-more-vertical layui-font-12">
                    </i>
                </button>
                <!--
                                <img th:src="@{/static/img/1.jpg}" class="img-circle">
                -->
            </div>
        </div>
    </nav>
    <!--//nav-->
</header>
<!-- //header -->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <center>
            <div class="headerhny-title" style="width: 550px;margin-top: 40px">

                <!--头像上传begin-->
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">修改头像</button>
                    <div class="layui-upload-list" style="width: 100px;height: 100px;">
                        <img style="height: 100%; width: 100%;" class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
                <div style="width:300px;">
                    <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                        <div class="layui-progress-bar" lay-percent=""></div>
                    </div>
                </div>
                <p style="margin-top: 10px; color: #666;">可轻松配合进度条使用</p><p>
            </p><div style="margin-top: 10px;">

                <!-- 示例-970 -->
                <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>

            </div>


                <!--头像上传-->
                <form method="post" class="layui-form" th:action="@{/user/UEditorUser}">
                        <input type="hidden" name="userId" th:value="${session.user.userId}">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">用户昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" required lay-verify="required"
                                       th:value="${session.user.userName}" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux" ></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="prePassword"
                                       placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password"
                                       placeholder="请输入再次确认密码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">性别</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="userSex" value="男" title="男" checked>
                                <input type="radio" name="userSex" value="女" title="女">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">年龄</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userAge" required lay-verify="required"
                                       placeholder="请输入年龄" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">密保</label>
                            <div class="layui-input-inline">
                                <input type="text" name="preEncryptedProblem"
                                       placeholder="你最喜欢的书是什么" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">修改密保</label>
                            <div class="layui-input-inline">
                                <input type="text" name="encryptedProblem"
                                       placeholder="你最喜欢的书是什么" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            </div>
                        </div>
                    </form>
            </div>
            </center>
        </div>
    </div>
</section>


<footer class="w3l-footer">
    <section class="footer-inner-main">
        </div>
        <div class="below-section">
            <div class="container">
                <div class="copyright-footer">
                    <div class="columns text-lg-left">
                        <p>&copy; 2021 软件17-4胡建. All rights reserved | Designed by</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->

    </section>
</footer>
<!--//footer-66 -->
</body>

</html>
<!-- responsive tabs -->
<script>

    layui.use(['upload', 'element', 'form', 'dropdown', 'util', 'layer'], function () {
        /*<![CDATA[*/
        var ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
        var dropdown = layui.dropdown
            , util = layui.util
            , layer = layui.layer
            , form = layui.form
            ,element = layui.element
            ,upload = layui.upload
            , $ = layui.jquery;
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
        });

        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/user/upload' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功的一些操作
                //……
                $('#demoText').html(''); //置空上传失败的状态
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
            //进度条
            ,progress: function(n, index, e){
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if(n == 100){
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });

        dropdown.render({
            elem: '#demo4'
            , trigger: 'hover'
            , data: [
                {
                    title: '个人中心'
                    , href: '/user/toUEditorUser'
                    , id: 100
                }, {
                    title: "消息中心"
                    , href: '/user/toMessage'
                    , id: 101
                }, {
                    title: '视频中心'
                    ,href: '/video/toVideoCenter'
                    , id: 101
                }, {
                    title: '视频上传'
                    ,href: '/video/toAddVideo'
                    , id: 102
                }, {
                    title: '退出'
                    ,href: '/user/logout'
                    , id: 103
                }
            ]
        });    })
</script>
<script th:src="@{/static/js/easyResponsiveTabs.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<!-- //responsive tabs -->
<!--/theme-change-->
<script th:src="@{/static/js/theme-change.js}"></script>
<!-- //theme-change-->
<!-- script for owlcarousel -->
<!-- Template JavaScript -->
<script th:src="@{/static/js/jquery.magnific-popup.min.js}"></script>
<!--
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
-->
<!--//-->

<!--/MENU-JS-->
<!--<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>-->
<!--//MENU-JS-->


